@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --corner-rad:20px;
  --the-blue:#2A1E5C;
  --the-red:#DF2935;
  --the-white:#F0EDEE;
}

.container{
  width: 20rem;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: var(--corner-rad);
  border:  2px solid black;
  background-color: var(--the-white);
}
.header{
  width: 100%;
  padding: 1rem;
  background-color: var(--the-blue);
  border-radius: var(--corner-rad) var(--corner-rad) 0 0;
  text-align: center;
  color: var(--the-white);
  font-size: 1.5rem;
  font-weight: bold;
}
.header span{
  color: var(--the-red);
}
.inner-body{
  width: 100%;
  height: calc(80vh - 4rem);
  border-radius: 0 0 var(--corner-rad) var(--corner-rad);
  padding: 1rem;
  overflow: hidden;
  overflow-y: scroll;
}
.inner-body::-webkit-scrollbar{
  display: none;
}
.button-container{
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}
.btn{
  width: 5rem;
  height: 5rem;
  border: 3px solid var(--the-blue);
  border-radius: 20px;
  text-align: center;
  padding-top: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}

/*=====================sensors section===============*/

.sen-container{
  width: 100%;
  margin: 1rem 0;
  border: 3px solid var(--the-blue);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sen-card{
  width: 7rem;
  height: 7rem;
  border: 5px solid var(--the-blue);
  border-radius: 50%;
  color: var(--the-blue);
  position: relative;
  margin-bottom: 4rem;
}
.sen-data{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.sen-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3rem;
  background-color: var(--the-blue);
  padding: 10px;
  border-radius: 5px;
  color: var(--the-white);
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
}
.val{
  font-size: 2rem;
  
}
.unit{
  font-size: 1.5rem;
}
/*============================================mobile devices================================================*/

@media screen and (max-width:576px){
  .container{
    width: 100%;
    height: 100vh;
    position: static;
    transform: translate(0,0);
    border-radius: 0;
  }
  .header{
    border-radius: 0;
  }
  .inner-body{
    height: calc(100vh - 4rem);
    border-radius: 0;
  }
  .btn{
    width: 6rem;
    height: 6rem;
  }
  /*===============================================*/
  .sen-card{
    width: 8rem;
    height: 8rem;
    margin-right: 5px;
    margin-left: 5px;
  }
}