*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 60%;
  display: flex;
  margin: 4rem auto;
  border:  2px solid black;
  padding: 2rem;
}
.btn{
  width: 3rem;
  height: 3rem;
  border: 2px solid red;
  border-radius: 20px;
  text-align: center;
  padding-top: 0.5rem;

}